@import '@unocss/reset/tailwind.css';
@unocss all;

@media print {
    body {
        margin: 0 !important;
    }
}

:root {
    --wine-bg-color: #ffffff;
}

.dark {
    --wine-bg-color: #1a1918;
}

body {
    background: var(--wine-bg-color);
    margin: 0;
}