/* https://html-preview.github.io/?url=https://github.com/FelipeIzolan/mi.css/blob/main/index.html */
/* https://github.com/FelipeIzolan/mi.css */
/* https://www.reddit.com/r/webdev/comments/1jc2qlx/minimal_css_1kb_for_contentdriven_websites/ */
/* this is not minified */

:root {
    --primary-color: #f6f6f6;
    --background-color: #101010;
    --accent-color: #ebbcba;
}

[data-theme="light"] {
    --primary-color: #212121;
    --background-color: #f6f6f6;
    --accent-color: #d7827e;
}

html,
body {
    accent-color: var(--accent-color);
    background: #f6f6f6; /* this is basically support for old browsers */
    background: var(--background-color);
    color: #212121;
    color: var(--primary-color);
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.4;
    font-family: monospace;
}

body {
    margin: auto;
    padding: 1em;
    max-width: 720px;
}

html,
body,
p,
a,
div {
    transition: background-color 200ms ease, color 200ms ease;
}

/*/
 *  depending on the project, add or remove:
/*/
nav,
main,
header,
footer,
section,
article {
    margin: 1em 0;
}
/*/
 * -------------------------------------------------- *
/*/
dt,
pre,
form,
table,
fieldset,
blockquote {
    margin: 1em 0;
}

/*/
 * -------------------------------------------------- *
/*/

h3 {
    color: var(--accent-color);
}

h1 a {
    text-decoration: none;
}

a {
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: #d7827e;
    color: var(--accent-color);
}

pre {
    padding: 1em;
}

pre,
img,
input,
textarea,
select,
legend,
fieldset,
button {
    border-radius: 4px;
}

img {
    height: auto;
    max-width: 100%;
}

input {
    vertical-align: middle;
}

blockquote {
    border-left: 4px solid #d7827e;
    border-color: var(--accent-color);
    padding-left: 1em;
}

article h1 { /*override :-webkit-any*/
    font-size: 2em;
}

ul,
ol {
    padding: 0;
    list-style-position: inside;
}

li > ul,
li > ol {
    padding: 0 1em;
}

pre,
code {
    color: white;
    overflow: auto;
    background: #212121;
}

input:disabled,
button:disabled {
    opacity: 0.8;
}

td,
th,
table {
    border: 1px solid #212121;
    border-color: var(--primary-color);
    padding: 8px;
    border-collapse: collapse;
}

input,
button,
select,
legend,
fieldset,
textarea {
    color: #212121;
    color: var(--primary-color);
    border: 1px solid #212121;
    border-color: var(--primary-color);
    outline: none;
    padding: 3px 7px;
    background: none;
}

fieldset {
    padding-bottom: 8px;
}

button,
legend,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    color: #f6f6f6;
    color: var(--background-color);
    background: #212121;
    background: var(--primary-color);
}